<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="AppDb"
			 connectionString="Server=.\SQLEXPRESS;Database=MyAppDB;User Id=sa;Password=StrongPassword123!;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


	<startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
